.header {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.header__logo {
  width: calc(33.33vw - 16px);
}

.header__search {
  display: none;
}

.header__searchButton {
  background: transparent url("../assets/icons/search_icon.svg") no-repeat;
  background-size: cover;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  order: 2;
}

.header__buttonLogin {
  background-color: transparent;
  border: 1px solid #2a7ae4;
  color: #2a7ae4;
  padding: 0.75rem 3rem;
  text-decoration: none;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .header {
    justify-content: space-between;
    padding: 1rem 2rem;
  }
  .header__logo {
    width: 15vw;
  }

  .header__search {
    display: inline;
    border: none;
    background-color: var(--soft-grey);
    /* height: 40px; */
    padding: 0.75rem 3rem 0.75rem 1rem;
    border-radius: 20px;
    margin-right: 8.375rem;
    position: relative;
  }

  .header__search::placeholder {
    font-family: "Raleway", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
  }

  .header__searchButton {
    order: 0;
    position: absolute;
    margin-left: calc(23rem - 1rem);
  }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
  .header__search {
    padding: 0.75rem 5rem 0.75rem 1rem;
    margin-right: 22rem;
  }

  .header__searchButton {
      margin-left: calc(25rem - 1rem);
  }
}
