.hero {
  background: rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.41),
      rgba(0, 0, 0, 1)
    ),
    url("../assets/img/hero.png");
  background-size: cover;
  background-position: center;
  color: white;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 1rem;
}

.hero__content {
  padding: 4.875rem 1rem 1rem 1rem;
}

.hero__contentTitle {
  font-weight: 700;
  font-size: 1.375rem;
}

.hero__contentSubtitle {
  font-weight: 600;
  font-size: 0.875rem;
  padding: 0.5rem 0 1rem 0;
}

.products {
  margin-bottom: 3rem;
}

.starWars {
  margin: 1rem 0;
}

.products__content {
  padding-top: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products__title {
  font-size: 1.375rem;
  font-weight: 600;
  color: var(--dark-grey);
}

.products__buttonCta {
  color: var(--blue);
  text-decoration: none;
  font-weight: 600;
  font-size: 0.875rem;
  display: flex;
}

.products__buttonCta img {
  padding-left: 0.25rem;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.card {
  width: 156px;
  margin-top: 1rem;
}

.card:nth-child(5),
.card:nth-child(6) {
  display: none;
}

.card__image {
  width: 156px;
}

.card__title {
  color: var(--dark-grey);
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.25rem 0;
}

.card__price {
  color: var(--dark-grey);
  font-weight: 600;
  padding: 0.25rem 0;
}

.card__button {
  text-decoration: none;
  color: var(--blue);
  font-weight: 600;
  padding: 0.25rem 0;
}

.consoles {
  margin: 1rem 0;
}

/* TABLET */

@media screen and (min-width: 768px) {
  .hero__content {
    padding: 10.0625rem 1rem 2rem;
  }

  .hero__contentTitle {
    font-size: 3.25rem;
  }
  .hero__contentSubtitle {
    font-size: 1.375rem;
    padding: 1rem 0 1.5rem;
  }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
  .hero {
    background-image: url("../assets/img/hero.png");
  }
  .card:nth-child(5),
  .card:nth-child(6) {
    display: block;
  }
}
