.hero {
  background: rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.41),
      rgba(0, 0, 0, 1)
    ),
    url("../assets/img/hero.png");
  background-size: cover;
  background-position: center;
  height: 192px;
  color: white;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 16px;
}

.hero__title {
  font-weight: 700;
  font-size: 1.375rem;
  padding: 0 16px;
}

.hero__subtitle {
  font-weight: 600;
  font-size: 0.875rem;
  padding: 8px 16px;
}

.starWars__content {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.starWars__title{
    font-size: 1.375rem;
    font-weight: 600;
    color: var(--dark-grey);
}

.products__buttonCta {
  color: var(--blue);
  text-decoration: none;
  font-weight: 600;
  font-size: 0.875rem;
  display: flex;
  
}

.products__buttonCta img{
    padding-left: 0.25rem;
}

.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1rem;
}

.card{
    width: 156px;
    margin-top: 1rem;
    
}

.card:nth-child(5), .card:nth-child(6){
    display: none;
}

.card__image{
    width: 156px;
}

.card__title{
    color: var(--dark-grey);
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0.25rem 0;
}

.card__price{
    color: var(--dark-grey);
    font-weight: 600;
    padding: 0.25rem 0;
}

.card__button{
    text-decoration: none;
    color: var(--blue);
    font-weight: 600;
    padding: 0.25rem 0;
}